Instituto Canario de Estadística
Avisos de ISTACbase

-----------------------------------------------------

- Aplicación emisora: ${notice.sendingApplication}
- Fecha de creación: ${createdDate}
#if( "$!notice.sendingUser" != "" )
- Usuario emisor:  ${notice.sendingUser}
#end
- Urn de aviso: ${notice.urn}
- Tipo de aviso: ${notice.noticeType}

- Mensajes:
	#foreach( $item in ${notice.messages} )
	  -- $item.text
	#end