#macro( msg $key )$messages.getLocalizedMessageFromBundle($bundleName, $key, $locale)#end

- #msg("template.notice.sending_aplication"): ${notice.sendingApplication}
- #msg("template.notice.creation_date"): ${createdDate}
#if( "$!notice.sendingUser" != "" )
- #msg("template.notice.sending_user"):  ${notice.sendingUser}
#end
- #msg("template.notice.urn"): ${notice.urn}
- #msg("template.notice.type"): ${notice.noticeType}
#if( "$!expirationDate" != "" )
- #msg("template.notice.expiration_date"): ${expirationDate}
#end

- #msg("template.notice.messages"):
#foreach( $item in ${notice.messages} )
	· $item.text
#foreach( $resource in ${item.resources} )
#if( "$!resource.title.getLocalisedLabel(${locale.language})" != "" )
		- #msg("template.notice.message.title"): $resource.title.getLocalisedLabel(${locale.language})
#end
		- #msg("template.notice.message.code"): $resource.code
		- #msg("template.notice.message.urn"): $resource.urn
		- #msg("template.notice.message.type"): $resource.type
		- #msg("template.notice.message.link_api"): $baseDo2DtoMapper.externalItemApiUrlDoToDto($resource.type, $resource.uri)
		- #msg("template.notice.message.link_management_application"): $baseDo2DtoMapper.externalItemWebAppUrlDoToDto($resource.type, $resource.managementAppUrl)

#end
#end