#macro( msg $key )$messages.getMessageForCode($key, $locale)#end

#msg("template.notices.metamac_notices")
${organisation}

- #msg("template.notices.sending_aplication"): ${notice.sendingApplication}
- #msg("template.notices.creation_date"): ${createdDate}
#if( "$!notice.sendingUser" != "" )
- #msg("template.notices.sending_user"):  ${notice.sendingUser}
#end
- #msg("template.notices.urn"): ${notice.urn}
- #msg("template.notices.type"): ${noticeType}
#if( "$!expirationDate" != "" )
- #msg("template.notices.expiration_date"): ${expirationDate}
#end

- #msg("template.notices.messages"):
#foreach( $item in ${notice.messages} )
	· $item.text
#foreach( $resource in ${item.resources} )
#if( "$!resource.title.getLocalisedLabel(${locale.language})" != "" )
		- #msg("template.notices.message.title"): $resource.title.getLocalisedLabel(${locale.language})
#end
		- #msg("template.notices.message.code"): $resource.code
		- #msg("template.notices.message.urn"): $resource.urn
		- #msg("template.notices.message.type"): $resource.type
		- #msg("template.notices.message.link_api"): $baseDo2DtoMapper.externalItemApiUrlDoToDto($resource.type, $resource.uri)
		- #msg("template.notices.message.link_management_application"): $baseDo2DtoMapper.externalItemWebAppUrlDoToDto($resource.type, $resource.managementAppUrl)

#end
#end